/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff");
  /* unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; */
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/montserrat-medium-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-medium-webfont.woff") format("woff");
  /* unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; */
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/playfairdisplaysc-regular-webfont.woff2") format("woff2"),
    url("../fonts/playfairdisplaysc-regular-webfont.woff") format("woff");
  /* unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; */
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/playfairdisplaysc-bold-webfont.woff2") format("woff2"),
    url("../fonts/playfairdisplaysc-bold-webfont.woff") format("woff");
  /* unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; */
}
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/playfairdisplaysc-italic-webfont.woff2") format("woff2"),
    url("../fonts/playfairdisplaysc-italic-webfont.woff") format("woff");
  /* unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p,
dl,
dd,
blockquote {
  margin: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font: 400 16px/1.219 "Montserrat", "Arial", "Helvetica CY", "Nimbus Sans L",
    sans-serif;
  color: #ae7c78;
  padding-top: 25px;
}
.container {
  max-width: calc(1200px + 16px * 2);
  padding: 0 16px;
  margin: 0 auto;
}
.section {
  margin-bottom: 80px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.media-reset {
  margin: 0;
  font-size: 0;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
  gap: 20px;
}

/* ЛОГОТИП */
.logo {
  display: inline-block;
  width: 100px;
  height: 33px;
}
.logo__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* МЕНЮ */
.menu {
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin-right: 6.5%;
}
.menu__item--offset {
  margin-left: auto;
}
.menu__link {
  padding: 7px 0;
  display: inline-block;
  white-space: nowrap;
}

/* ЗАГОЛОВКИ */
.title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}
.title__primary {
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 1.318;
  margin-bottom: 24px;
}
.title__primary span {
  font-style: italic;
}
.title__regular {
  font-size: 36px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  text-align: center;
}
.title__regular--link {
  color: #fff;
}
.title__regular--discount {
  font-weight: normal;
  font-size: 44px;
  text-align: left;
  color: #fff;
}

/* ПОДЗАГОЛОВОК */
.subtitle {
  font-style: normal;
  font-weight: 500;
}

/* КНОПКА */
.btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.btn__primary {
  display: inline-block;
  padding: 30px 105px;
  color: #fff;
  background-color: #d89999;
  border-radius: 40px;
  white-space: nowrap;
}

/* СТРЕЛКИ */
.arrow {
  width: 50px;
  height: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.arrow:first-child {
  margin-right: 20px;
}
.arrow--prev {
  background-image: url("../images/icons/arrow-prev.svg");
}
.arrow--next {
  background-image: url("../images/icons/arrow-next.svg");
}

/* СОЦ.СЕТИ */
.social {
  align-items: center;
}
.social__item {
  font-size: 0;
}
.social__item:not(:last-child) {
  margin-right: 20px;
}
.social__link {
  display: inline-block;
}
.social-icon {
  position: relative;
  padding-left: 26px;
  width: 26px;
  height: 20px;
}
.social-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.social-icon--insta::before {
  background-image: url("../images/icons/instagram_icon.svg");
}
.social-icon--fb::before {
  background-image: url("../images/icons/facebook_icon.svg");
}
.social-icon--tw::before {
  background-image: url("../images/icons/twitter_icon.svg");
}

/* ЗАГОЛОВОК */
.header {
  padding: 16px 0;
  border-top: 1px solid #ae7c78;
  border-bottom: 1px solid #ae7c78;
}
.header__nav {
  position: relative;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ГЛАВНЫЙ ЭКРАН */
.promo__content {
  flex: 0 0 32.22%;
  margin-right: 20px;
}
.promo__slogan {
  font-size: 24px;
  margin-bottom: 64px;
}
.promo__media {
  flex-grow: 1;
  grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
  grid-auto-rows: 460px;
  row-gap: 0;
}
.promo__media-img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.promo__media-img:nth-child(odd) {
  margin-top: auto;
}
/* ПРЕИМУЩЕСТВА */
.advantages__list {
  grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
}
.advantages__group {
  position: relative;
  padding-left: 100px;
}
.advantages__group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 52px;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}
.advantages__group--delivery::before {
  background-image: url("../images/icons/delivery.svg");
}
.advantages__group--bouquet::before {
  background-image: url("../images/icons/bouquet.svg");
}
.advantages__group--photo::before {
  background-image: url("../images/icons/photo.svg");
}
.advantages__list-term {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 8px;
}

/* ПОПУЛЯРНОЕ */
.popular__container {
  max-width: calc(794px + 16px * 2);
}
.popular__title {
  margin-bottom: 36px;
}
.popular__slide {
  flex-wrap: wrap;
}
.popular__slide-info {
  flex-basis: 48.74%;
  margin-right: 20px;
}
.popular__slide-subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}
.popular__slide-text,
.popular__size {
  margin-bottom: 24px;
}
.popular__price {
  margin-bottom: 64px;
}
.popular__slide-media {
  flex-basis: 48.74%;
  height: 438px;
}
.popular__slide-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular__navigation {
  justify-content: center;
}

/* КАТАЛОГ */
.catalog__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
  grid-auto-rows: minmax(440px, autp);
  gap: 20px;
}
.catalog__link,
.catalog__media {
  height: 100%;
}
.catalog__link {
  border-radius: 10px;
  overflow: hidden;
}
.catalog__media {
  position: relative;
}
.catalog__media::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(174, 124, 120, 0.6);
}
.catalog__media-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catalog__media-descr {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
}
.catalog__media-title {
  margin-bottom: 8px;
}
.catalog__media-subtitle {
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  text-align: center;
}

/* СКИДКИ */
.discount__container {
  flex-wrap: wrap;
  background-color: #ae7c78;
  background-clip: content-box;
}
.discount__content,
.discount__media {
  flex-basis: calc((100% - 20px) / 2);
}
.discount__content {
  /* padding: 40px 0 60px; */
  margin-right: 20px;
}
.discount__content-inner {
  width: 387px;
  margin: auto;
}
.discount__content__title {
  margin-bottom: 24px;
}
.discount__content-text {
  font-size: 24px;
  line-height: 1.21;
  color: #fff;
}
.discount__content-text p:not(:last-child) {
  margin-bottom: 5px;
}
.discount__media-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 4 ШАГА */
.step__title {
  margin-bottom: 36px;
}
.step__list {
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}
.step__group {
  position: relative;
  padding-top: 60px;
  text-align: center;
}
.step__group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.step__group--order::before {
  background-image: url("../images/icons/order.svg");
}
.step__group--consultation::before {
  background-image: url("../images/icons/consultation.svg");
}
.step__group--payment::before {
  background-image: url("../images/icons/payment.svg");
}
.step__group--delivery::before {
  background-image: url("../images/icons/delivery.svg");
}
.step__list-term {
  font-weight: 600;
  margin-bottom: 8px;
}

/* НОВОСТИ */
.blog__container {
  flex-wrap: wrap;
}
.blog__content {
  flex-basis: 386px;
  margin-right: auto;
}
.blog__title {
  text-align: left;
  margin-bottom: 40px;
}
.blog__descr {
  font-size: 24px;
  margin-bottom: 40px;
}
.blog__media {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 220px);
  grid-auto-rows: 220px;
  max-width: 690px;
}
.blog__media-link {
  grid-column: span 3;
}
.blog__media-link--big {
  grid-column: span 4;
  grid-row: span 2;
}
.blog__media-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ОТЗЫВЫ */
.reviews__container {
  padding: 40px 0 60px;
  border: 1px solid #ae7c78;
}
.reviews__title {
  margin-bottom: 40px;
}
.reviews__inner {
  grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
  row-gap: 40px;
}
.reviews__descr {
  text-align: center;
  padding: 0 40px;
}
.reviews__list-text {
  margin-bottom: 16px;
}
.reviews__descr-author {
  font-weight: 600;
}

/* КОНТАКТЫ */
.contact {
  min-height: 640px;
  height: 1px;
}
.contact__media {
  position: relative;
  height: 100%;
}
.contact__media-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact__media-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.contact__container {
  position: relative;
}
.contact__card {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 386px;
  padding: 40px 35px 50px;
  background-color: #f7fafc;
  box-shadow: 4px 4px 20px rgba(217, 217, 217, 0.9);
  border-radius: 12px;
}
.contact__title {
  text-align: left;
  margin-bottom: 42px;
}
.contact__list {
  font-size: 16px;
}
.contact__item:not(:last-child) {
  margin-bottom: 30px;
}
.contact__label {
  display: inline-block;
  margin-bottom: 20px;
}
.contact__val {
  font-weight: 600;
  display: block;
  font-style: normal;
}

/* ПОДВАЛ */
.footer {
  padding: 24px 0 40px;
  background-color: #ae7c78;
}
.footer__container {
  justify-content: space-between;
}
.footer__list {
  flex-basis: 66.25%;
  justify-content: space-between;
  color: #fff;
}
.footer__list .menu__item:not(:last-child) {
  margin-right: 0;
}
.footer__social {
  color: #fff;
}
